<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatCat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap" rel="stylesheet">
    </head>
<body>
    <header class="p-5 gradient-background">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-4 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-4 text-white">Books</a></li>
          <li><a href="#" class="nav-link px-4 text-white">Movies</a></li>
          <li><a href="#" class="nav-link px-4 text-white">Blog</a></li>
          <li><a href="#" class="nav-link px-4 text-white">About</a></li>
        </ul>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://cdn2.thecatapi.com/images/4o7.jpg" class="d-block  mx-lg-auto rounded" alt="Bootstrap Themes" height="200" loading="lazy">
        </div>
      </div>
    </div>
  </header>
  <hero>
  <div class="px-4 py-6 text-center background-green-light">
    <img class="d-block mx-auto mb-4 pt-4 rounded-circle" src=<%= cat_img%> alt="" width="300" height="300">
    <h1 class="display-5 font-indie-flower">HELLO</h1>
    <div class="col-lg-6 mx-auto pb-3">
      <p class="lead">我是Alex. 欢迎来到我的个人网站!</p>
      <p class="lead">这里有我喜欢的书籍，电影，还有我的游记！</p>
    </div>
  </div>
  </hero>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>